
.checkout {
    padding: 6em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardbody {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

}

.cardwrapper {
    background-color: var(--white);
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid pink;
    
}


.cardcontainer {
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.cardimage {
    padding: 2em;

}

.body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6vw;
    align-items: baseline;
    justify-content: center;
}


.name {
    font-size: 1.2em;
    padding: 0;
}

.quantity {
    padding: 1em;
}



.total {
    padding: 3em;
}

.circle {
    border-radius: 50%;
    background-color: var(--bubblegum-pink);
}

.button {
    border: none;
    background-color: var(--light-pink);
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
}

.quantityButtonWrapper {
    display: flex;
    flex-direction: row;
}