.checkout {
    padding: 6em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.tableTitles {
    display: flex;
    flex-direction: row;
}

.tableTitles>th {
    padding-right: 4em;
}

.tableBody {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.name {
    font-size: 0.8em;
    padding: 0;
}

.quantity {
    padding: 1em;
}

.tableBody>tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
    align-self: flex-start;
}

.tableBody>tr>td {
    width: 4em;
    height: 6em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2em;
    word-wrap: break-word;
    align-items: center;
    justify-content:center;
}

.total {
    padding: 3em;
}

.circle {
    border-radius: 50%;
    background-color: rgb(255, 132, 192);
}

.button {
    border: none;
    background-color: transparent;
    padding: 0;
}