/*
 Hero Container
 */

.coverContainer {
  display: flex;
  width: 100vw;
  height: 90vh;
  flex-direction: column;
  max-width: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 0;
  background-image: url(/donutbg.jpg);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}


.intro {
  margin: 0 auto;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
  height: 80vh;
  margin-top: 5vh;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: #fd43b6a7;
  border-radius: 12px;
  border: 1px solid #f7abdad2;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-self: center;
  height: fit-content;
  max-width: 70vw;
  padding: 2em;
}

.image {
  width: auto;
  height: 20em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



.h1 {
  font-size: 3em;
  color: #fff;
}

.lead {
  font-weight: bold;
  font-size: 2em;
  color: #fff1f9;
}