/*
 Hero Container
 */

.coverContainer {
  display: flex;
  width: 100vw;
  height: 80vh; 
  flex-direction: column;
  max-width: auto;
  justify-content: top;
  padding: 5em;
  align-items: left;
}

.coverContainer {
  margin-bottom: 0;
  background-image: url(/donutbg.jpg);
  background-size: 125%;
  background-position-x: left;
  background-repeat: no-repeat;
}

.main {
  display: block;
  background-color: #fd43b63a;
  border-radius: 12px;
  prefix: 3;
  max-width: fit-content;
}

.h1 {
  font-size: 6em;
  color: #fff;
}

.lead {
  font-size: 2em;
  color: #fd43b6;
}