/*
 Hero Container
 */

.coverContainer {
  display: flex;
  width: 100vw;
  height: 80vh;
  flex-direction: column;
  max-width: auto;
  justify-content: center;
  align-content: center;
  align-items: center;

  margin-bottom: 0;
  background-image: url(/donutbg.jpg);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}


.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  align-self: center;
  align-content: center;
  min-height: 60vh;

}

.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  align-self: center;
  align-content: center;
}


.box {
  display: flex;
  flex-direction: column;
  background-color: #fd43b662;
  border-radius: 12px;
  padding: 1em;
  text-align: left;
  justify-content: center;

}

.image {
  width: auto;
  height: 20em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



.h1 {
  font-size: 4em;
  color: #fff;
}

.lead {
  font-weight: bold;
  font-size: 2em;
  color: #ffd4ee;
}